header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: auto;
    background: white;
    margin: 0 auto;
    @media @tablet {
        flex-direction: column;
    }

    
    nav {
        display: flex;
        justify-content: space-around;
        align-content: center;
        margin: auto 0;
        width: 500px;
        @media @tablet {
            margin: auto;
        }
        @media @mobile {
            width: 100%;
        }
        a {
            font-size: 2rem;
            text-decoration: none;
            color: @blue;
            padding: 5px 15px;
            &:hover {
                text-decoration: underline;
            }
        }
        .log-in {
            color: white;
            background: @lightBlue;
            border-radius: 15px;
            padding: 5px 15px;
            &:hover {
                background: @blue;
                text-decoration: none;
            }
        }

    }
    img {
        max-height: 100px;
        margin: 10px 40px;
        &:hover {
            border: 2px solid @blue;
            cursor: pointer;
        }
        @media @tablet {
            margin: auto;
        }
        @media @mobile {
            max-height: 70px;
        }
    }
}