main {
    display: flex;
    flex-direction: column;
    .hero {
        display: flex;
        justify-content: space-around;
        background: #263F4D;
        .hero-text {
            width: 40%;
            color: white;
        }
        .hero-video {
            width: 40%;
        }

    }
}